<title>RDRPI</title>
<form method="post" action="/set_stream">
  <select name="selection" onchange="form.submit()">
    <option value="0" {% if 0 == selection %}selected{% endif %}>Select a stream...</option>
    {% for stream in streams %}
      <option value="{{ loop.index }}" {% if loop.index == selection %}selected{% endif %}>{{ stream }}</option>
    {% endfor %}
  </select>
</form>
<form method="post" action="/set_volume">
  <input type="range" min="0" max="100" value="{{ volume }}" name="volume" onchange="form.submit()">
</form>
