<html>
    <head>
        <title>RDRPI</title>

        <script>
            function add_stream() {
                const name = prompt("Enter the display name of the scream", "")
                if (!name) return

                const address = prompt("Enter the address of the stream", "")
                if (!address) return

                document.getElementById("name").value = name
                document.getElementById("address").value = address
                document.getElementById("add_stream").submit()
            }
        </script>

        <style>
            .streams {
                display: grid;
                grid-template-columns: repeat(4, 200px);
            }

            .selected {
                color: #ff0000;
            }
        </style>
    </head>

    <body>
        <form method="post" id="change_stream" action="/change_stream" class="streams">
            {% for stream in streams %}
                <button value="{{ loop.index0 }}" name="selection" onclick="form.submit()" {% if loop.index0 == selection && !paused %}class="selected"{% endif %}>{{ stream }}</button>
            {% endfor %}
        </form>

        <form method="post" id="add_stream" action="/add_stream">
            <input type="hidden" name="address" id="address">
            <input type="hidden" name="name" id="name">
            <button onclick="add_stream()">Add a stream</button>
        </form>

        <form method="post" id="delete_stream" action="/delete_stream">
            <button onclick="form.submit()">Delete the selected stream</button>
        </form>

        <form method="post" id="set_volume" action="/set_volume">
            <input type="range" min="0" max="100" value="{{ volume }}" name="volume" onchange="form.submit()">
        </form>
    </body>
</html>
